* {
  box-sizing: border-box;
  text-align: center;
}

.app {
  padding: 20px;
}

ul {
  list-style: none;
}
main {
  display: flex;
}

section {
  flex: 4;
  border: solid 1px black;
  padding: 20px;
}

button {
  width: 10em;
  height: 3em;
}

.addFolder {
  margin: 10px;
  color: blue;
  background: white;
}
